{% extends "base.html" %}
{% block title %}עמוד אישי{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/personal-page.css">
{% endblock %}


{% block content %}
<h3 align="center">דף התנדבות אישי</h3>


<div id="container1">

    <h5 align="right">בעמוד זה ניתן לצפות בפרטי המשתמש ולבטל הרשמה להתנדבות</h5>
<br>
<br>

    <p> שם משתמש: {{user.first_name}}</p>
    <br>

    <p>כתובת דוא"ל:
        <a> {{user.email}} </a>
    </p>

    <div id="container2">

        <p>
            ארגון התנדבות:
            {{org.name}}
        <p>
            <button type="button" class="btn btn-danger" onClick="stopVol({{user.id }})">לחץ למחיקת הרשמה להתנדבות
                בארגון
            </button>
        </p>
        </p>

        <br>
        <br>

        <form method="POST">
            <a>
                :דירוג ארגון ההתנדבות
            </a>
            <div class="rate">
                <input type="radio" id="star5" name="rating" value="5"/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4"/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3"/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2"/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1"/>
                <label for="star1" title="text">1 star</label>
            </div>

            <br>
            <br/>
            <button type="submit" name="submit_but" class="btn btn-primary">שלח דירוג</button>
        </form>


    </div>
</div>


{% endblock %}
