{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/Personal-page.css">
{% endblock %}

{% block content %}
<h3 align="center">דף התנדבות אישי</h3>

<div id="container1">

    <p> שם משתמש: {{user.first_name}}</p>
    <br>

    <p>כתובת דוא"ל:
        <a> {{user.email}} </a>
    </p>

    <div id="container2">

        <p>ארגון התנדבות: {{org.name}}
            <button type="button" class="close" onClick="stopVol({{user.id }})">X</button>
        </p>


    </div>
</div>


{% endblock %}
