{% extends "base.html" %} {% block title %}volunteering catalog{% endblock %} {% block content
%}
<div class="oranization-list-container">
    <img class="organization-img" src="static/volunteering catalog/charity.png" alt="">
    <h1 class="organization-title"> ארגוני התנדבות</h1>
    <div class="organization-wrapper">
        <div class="organization-list">
            <div class="organization-list-item">
                <img class="organization-list-item-img" src="/static/volunteering catalog/img1.png" alt="">
                <span class="organization-list-item-title"> ארגון לתת </span>
                <p class="organization-list-item-desc">
                    התנדבות במגוון פעילויות רחב למגון אוכלוסיות חלשות ולמשפחות נזקקות </p>
                <button class="organnization-list-item-button"> להרשמה</button>
            </div>
            <div class="organization-list-item">
                <img class="organization-list-item-img" src="/static/volunteering catalog/img1.png" alt="">
                <span class="organization-list-item-title"> ארגון לתת </span>
                <p class="organization-list-item-desc">
                    הסבר על הארגון
                </p>
                <button class="organnization-list-item-button"> להרשמה</button>
            </div>
            <div class="organization-list-item">
                <img class="organization-list-item-img" src="/static/volunteering catalog/img1.png" alt="">
                <span class="organization-list-item-title"> ארגון לתת </span>
                <p class="organization-list-item-desc">
                    הסבר על הארגון
                </p>
                <button class="organnization-list-item-button"> להרשמה</button>
            </div>
            <div class="organization-list-item">
                <img class="organization-list-item-img" src="/static/volunteering catalog/img1.png" alt="">
                <span class="organization-list-item-title"> ארגון לתת </span>
                <p class="organization-list-item-desc">
                    הסבר על הארגון
                </p>
                <button class="organnization-list-item-button"> להרשמה</button>
            </div>
            <div class="organization-list-item">
                <img class="organization-list-item-img" src="/static/volunteering catalog/img1.png" alt="">
                <span class="organization-list-item-title"> ארגון לתת </span>
                <p class="organization-list-item-desc">
                    הסבר על הארגון
                </p>
                <button class="organnization-list-item-button"> להרשמה</button>
            </div>
            <div class="organization-list-item">
                <img class="organization-list-item-img" src="/static/volunteering catalog/img1.png" alt="">
                <span class="organization-list-item-title"> ארגון לתת </span>
                <p class="organization-list-item-desc">
                    הסבר על הארגון
                </p>
                <button class="organnization-list-item-button"> להרשמה</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}