{% extends "base.html" %}
{% block title %}volunteering catalog{% endblock %}
{% block content %}

    <img class="organization-img" src="/static/volunteering catalog/charity.png" alt="">
    <h1 class="organization-title"> ארגוני התנדבות</h1>
    <div class="organization-wrapper">
        <div class="organization-list">

            <div class="organization-list-item">
                <form method="POST">
                    <input type="hidden" name="org_id" value={{org[0].id}}><br><br>
                    <img class="organization-list-item-img" src="/static/volunteering catalog/img2.png" alt="">
                    <span class="organization-list-item-title"> {{org[0].name}} </span>
                    <p class="organization-list-item-desc">
                        {{org[0].description}} </p>
                     <p>
                        דירוג: {{org[0].rating}} </p>
                    <p>
                        מס המדרגים: {{org[0].votersNumber}} </p>
                    <button class="organnization-list-item-button" type="submit" value="Submit"> רשמו אותי</button>
                </form>
            </div>

            <div class="organization-list-item">

                <form method="POST">
                    <input type="hidden" name="org_id" value={{org[1].id}}><br><br>
                    <img class="organization-list-item-img" src="/static/volunteering catalog/img2.png" alt="">
                    <span class="organization-list-item-title"> {{org[1].name}} </span>
                    <p class="organization-list-item-desc">
                        {{org[1].description}}
                    </p>
                      <p>
                        דירוג: {{org[1].rating}} </p>
                    <p>
                        מס המדרגים: {{org[1].votersNumber}} </p>
                    <button class="organnization-list-item-button" type="submit" value="Submit"> רשמו אותי</button>
                </form>
            </div>

            <div class="organization-list-item">
                <form method="POST">
                    <input type="hidden" name="org_id" value={{org[2].id}}><br><br>
                    <img class="organization-list-item-img" src="/static/volunteering catalog/img2.png" alt="">
                    <span class="organization-list-item-title"> {{org[2].name}} </span>
                    <p class="organization-list-item-desc">
                        {{org[2].description}}
                    </p>
                      <p>
                        דירוג: {{org[2].rating}} </p>
                    <p>
                        מס המדרגים: {{org[2].votersNumber}} </p>
                    <button class="organnization-list-item-button" type="submit" value="Submit"> רשמו אותי</button>
                </form>
            </div>

            <div class="organization-list-item">
                <form method="POST">
                    <input type="hidden" name="org_id" value={{org[3].id}}><br><br>
                    <img class="organization-list-item-img" src="/static/volunteering catalog/img2.png" alt="">
                    <span class="organization-list-item-title"> {{org[3].name}} </span>
                    <p class="organization-list-item-desc">
                        {{org[3].description}}
                    </p>
                      <p>
                        דירוג: {{org[3].rating}} </p>
                    <p>
                        מס המדרגים: {{org[3].votersNumber}} </p>
                    <button class="organnization-list-item-button" type="submit" value="Submit"> רשמו אותי</button>
                </form>
            </div>

            <div class="organization-list-item">
                <form method="POST">
                    <input type="hidden" name="org_id" value={{org[4].id}}><br><br>
                    <img class="organization-list-item-img" src="/static/volunteering catalog/img2.png" alt="">
                    <span class="organization-list-item-title"> {{org[4].name}} </span>
                    <p class="organization-list-item-desc">
                        {{org[4].description}}
                    </p>
                      <p>
                        דירוג: {{org[4].rating}} </p>
                    <p>
                        מס המדרגים: {{org[4].votersNumber}} </p>
                    <button class="organnization-list-item-button" type="submit" value="Submit"> רשמו אותי</button>
                </form>
            </div>

            <div class="organization-list-item">
                <form method="POST">
                    <input type="hidden" name="org_id" value={{org[5].id}}><br><br>
                    <img class="organization-list-item-img" src="/static/volunteering catalog/img2.png" alt="">
                    <span class="organization-list-item-title"> {{org[5].name}} </span>
                    <p class="organization-list-item-desc">
                        {{org[5].description}}
                    </p>
                      <p>
                        דירוג: {{org[5].rating}} </p>
                    <p>
                        מס המדרגים: {{org[1].votersNumber}} </p>
                    <button class="organnization-list-item-button" type="submit" value="Submit"> רשמו אותי</button>
                </form>
            </div>


        </div>
    {% endblock %}