
body{
    background-color: whitesmoke;

}

h3 {
    dir : "rtl";
}


.oranization-list-container{

    position: relative;
}


.organization-img{
    margin-right: 40px;
    width: 100%;
    height: 45%;
    margin-top: 0%;
    position: relative;
}


.organization-wrapeer{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.organization-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    align-items: center;
    font-family: "Trirong", serif;
}
.organization-list-item {
    margin-right: 40px;
    margin-bottom: 30px;
    position:relative;

}

.organization-list-item:hover .organization-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;

}

.organization-list-item:hover .organization-list-item-title,
.organization-list-item:hover .organization-list-item-desc,
.organization-list-item:hover .organnization-list-item-button {
    opacity: 1;

}

.organization-list-item-img{
    transition: all 1s ease-in-out ;
    width: 300px;
    height: 220px;
    object-fit: cover;
}

.organization-list-item-title{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(146, 139, 139) ;
    color: white;
    padding: 0 10px;
    font-size: 32px;
    position: absolute;
    top: 10%;
    right: 20px;
    opacity: 0;
    transition: 1s all ease-in-out ;
    box-sizing: border-box;
    border-radius: 10px;
}

.organization-list-item-desc {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(146, 139, 139) ;
    color: white;
    padding: 0 10px;
    font-size: 20px;
    position: absolute;
    top: 20%;
    right: 20px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out ;
    box-sizing: border-box;
    border-radius: 10px;
}

.organnization-list-item-button{

    font-family: 'Rubik', sans-serif;
    text-size-adjust: 50%;
    padding: 10px 20px;
    background-color: rgb(11, 78, 14);
    color:white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: 1s all ease-in-out ;
}


:root{
    --errorColor: #f00e0e;
    --validColor: #0add0a;

}

.modal{
    position:fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-content{
    background: #f4f4f4;
    margin: 10% auto;
    width: 60%;
    height: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0, 0, 0.2), 0 7px 20 px 0 rgba(0,0, 0, 0.2);
    position: relative;
    min-height: 500px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.close-btn {

    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 50px;
    z-index: 1;
}

.close-btn:hover{

    cursor: pointer;
    color: #e9423d;
    transition: 0.2s ease-out ;
}

.modal-content-left{

    border-radius: 0 3px 3px 0;
    position: relative;

}

#modal-img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.modal-content-right{
    background:whitesmoke;
    border-radius: 0 3px 3px 0;
    position: relative;
    margin-left: 10px;

}


#gender{
    font-family: 'Rubik', sans-serif;
    height: 25px;
    width: 100%;
}
.gender{
    font-family: 'Rubik', sans-serif;
    margin-left: 30px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
}

#method{

    font-family: 'Rubik', sans-serif;
    height: 25px;
    width: 100%;
}
.method{
    font-family: 'Rubik', sans-serif;
    margin-left: 30px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
}



.modal-content-left{

    background:whitesmoke;
    border-radius: 0 3px 3px 0;
    position: relative;

}
.modal-form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form h2{
    font-size: 1rem;
    text-align:start;
    width: 80%;
    margin-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;

}

.form-validation{
    margin-bottom: 0.5rem;
    width: 80%;
    margin-top: 0.5rem;

}

.form-validation.error{

    margin-bottom: 1.5rem;
    position: relative;
    border: 1px solid var(--errorColor);
    border-radius: 2px;
}

.form-validation.valid{
    margin-bottom: 0.5rem;
    position:relative;
    border: 1px solid var(--validColor);
    border-radius: 2px;
}

.form-validation p{
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: var(--errorColor);
    position: absolute;
    top: 1.8rem;
    display:none;
}

.form-validation.error p{
    display: block;
}


.modal-input{

    display: block;
    padding-left: 0.5rem;
    outline: none;
    border-radius: 2px;
    border: none;
    height: 2rem;
    width: 100%;
    box-shadow:  1px 1px 1px rgba(0,0,0,0.05);

}

.modal-input::placeholder{
    color: #1b1b1b;
    font-family: 'Rubik', sans-serif;

}
.modal-input-btn{
    width:80%;
    height: 2rem;
    border-radius: 2px;
    background-color: green;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    font-family: 'Rubik', sans-serif;


}

.modal-input-btn:hover{
    cursor: pointer;
    background-color: #337af1;
    transition: all 0, 0.4 ease-out;
}

@media screen and (max-width: 768px){
    .modal-content-left{
        display: none;
    }
    .modal-content{
        grid-template-columns:auto ;
        margin: 15% auto;
        width:70%;
        height: 75%;
    }
}
